    // Copy the _fromAu constructor into your base class.
    // {{#has_const_constructor}}const {{/has_const_constructor}}{{model_class_name}}._fromAu({{#fields}}{{field_as_parameter_keyword}}.{{field_name}},{{/fields}});